.nav
{
    margin: 15px;
    background-color: rgb(241, 121, 8);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 3px solid black;
    box-sizing: border-box;
}
a
{
    margin: 20px;
    font-size: 22px;
    text-decoration: none;
    color:rgb(107, 28, 28);
    font-weight:300;
}
.nav a:hover
{
  color:wheat;
}
