h1
{
    font-family: fantasy;
    padding: 10px 10px;
    background-color: rgb(241, 121, 8);    
}

body
{
    background-color:gold;
}
#search-div{
    text-align: center;
}
#search_bar{
    margin: auto;
    font-size: larger;
    color:black;
    background-color: rgba(255, 166, 0, 0.637);
}

#search_btn{
    margin: auto;
    color: white;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.562);
}
#search_btn:hover{
    background-color: rgb(0, 0, 0);

}


#view-table
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    color: black;
    border:1px solid black;
    font-size: x-large;
}
th
{
    padding: 5px;
    color: black;
    background-color: gold;
}
tr
{
    color: black;
    background-color:rgb(241, 121, 8);
    font-weight: bold;
}
td
{
    padding: 5px;
}
input{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    outline: none;
    font-weight: bold;
    border-color: black;
    border-width: 2px;
}
select{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    outline: none;
    border-color: black;
    border-width: 2px;
}

#update-btn{
    font-size: large;
    background-color: red;
    outline: none;
    border-color: black;
    border-width: 3px;
    padding:5px 5px 5px 5px;   
}
#update-btn:hover{
    background-color:green;
}
#pend_amt{
    background-color: red;
}
#paid_amt{
    background-color:green;
}